* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    --font-size-md: 0.8125rem;
    --filter-color-light-gray: invert(100%) sepia(1%) saturate(437%) hue-rotate(289deg) brightness(113%) contrast(78%);
    --filter-color-medium-gray: invert(58%) sepia(1%) saturate(0%) hue-rotate(74deg) brightness(94%) contrast(89%);
    --filter-color-dark-gray: invert(95%) sepia(0%) saturate(1047%) hue-rotate(152deg) brightness(80%) contrast(82%);
    --filter-color-white: invert(100%) sepia(5%) saturate(141%) hue-rotate(77deg) brightness(120%) contrast(100%);
    --header-height: 3.5rem;
    --text-light-gray: #e3e3e3;
    --text-dark-gray: #b5b5b5;
    --text-light-gray-with-opacity: #b5b5b5ef;
    --gray-300: #303030;
    --color-translucent-gray: #ffffff14;
    --font-weight-semibold: 600;
    --color-link: #005BD3;
    --outline-color: #005BD3;
    --outline-width: 0.125rem;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 1.25rem;
}

body {
    background-color: #f1f1f1;
    font-size: 13px;
}

p {
    color: #484848;
}

h1,h2,h3 {
    font-weight: var(--font-weight-semibold);
}

h2 {
    font-size: 14px;
}

button {
    border: none;
}
button:hover {
    cursor: pointer;
}

header {
    display: flex;
    background-color: #1a1a1a;
    height: var(--header-height);
    line-height: 20px;
}

li {
    list-style-type: none;
}

a:focus-visible,
.btn:focus-visible {
    outline: var(--outline-width) solid var(--outline-color);
    outline-offset: var(--outline-width);
}

a {
    color: var(--color-link);
    text-decoration: none;
    border-radius: 0.375rem;
}
a:hover {
    text-decoration: underline;
}

.filter-color-white {
    filter: var(--filter-color-white);
}
.filter-color-dark-gray {
    filter: var(--filter-color-dark-gray);
}
.filter-color-medium-gray {
    filter: var(--filter-color-medium-gray);
}

.bg-transparent {
    background-color: transparent;
}

.fs-md {
    font-size: var(--font-size-md);
}

.fw-semibold {
    font-weight: var(--font-weight-semibold);
}

.inline-block {
    display: inline-block;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.items-start { align-items: start; }
.items-center { align-items: center; }
.self-start { align-self: start; }
.justify-start { justify-content: start; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.text-gray-300 { color: var(--gray-300); }
.text-secondary { color: #616161; }

.btn {
    border-radius: 0.5625rem;
    padding: 6px 12px;
    font-size: 1em;
    background-color: unset;
    position: relative;
}
.btn-transparent {
    transition: background-color 0.35s;
}
.btn-transparent:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.btn-light {
    background-color: #fff;
    border: 1px solid #0000001A;
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}
.btn-light:hover {
    background-color: #f7f7f7;
}
.btn-light:active {
    box-shadow: inset 0 2px 1.5px #e2e2e2;
}
.btn-light:hover {
    background-color: #e2e2e2;
}
.btn-dark {
    color: #F6F3F6;
    background-color: #404040;
    /* border: 1.5px solid #FFFFFF33; */
    border-bottom: 0;
    /* box-shadow: 0px 0px 0px 1.5px #333333, */
    /*             0px 1px 0px 1.5px #333333, */
    /*             0px 2px 0px 0px #000000; */
}
.btn-dark:active::before {
	box-shadow: 0rem 3px 5px 0rem #000000ed inset, 0.125rem 0rem 0rem 0rem #adadad33 inset, -0.125rem 0rem 0rem 0rem #fff3 inset, 0rem -0.0625rem 0rem 0.0625rem #000 inset, 0rem 0.0625rem 0rem 0rem #000 inset;
}
.btn-dark:hover {
    color: rgb(227, 227, 227);
    background-color: #2a2a2a;
    /* box-shadow: 0px 0px 0px 1.5px #333333, */
    /*             0px 1px 0px 1.5px #333333, */
    /*             0px 2px 0px 0px #000000; */
}
.btn-dark::before {
	background: linear-gradient(180deg,#ffffff12 80%,#ffffff26);
	border-radius: .5625rem;
	bottom: 0;
	box-shadow: 0rem 0.125rem 0rem 0rem #fff3 inset,0.125rem 0rem 0rem 0rem #fff3 inset,-0.125rem 0rem 0rem 0rem #fff3 inset,0rem -0.0625rem 0rem 0.0625rem #000 inset,0rem 0.0625rem 0rem 0rem #000 inset;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 75ms cubic-bezier(.19,.91,.38,1);
}

.gap-1 { gap: 0.25rem; }
.gap-2 { gap: 0.5rem; }
.gap-4 { gap: 1rem; }

.m-0 { margin: 0; }
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 0.75rem; }
.m-4 { margin: 1rem; }

.mx-0 { margin-left: 0; margin-right: 0; }
.mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
.mx-2 { margin-left: 0.5rem; margin-right: 0.5rem; }
.mx-3 { margin-left: 0.75rem; margin-right: 0.75rem; }
.mx-4 { margin-left: 1rem; margin-right: 1rem; }

.my-0 { margin-top: 0; margin-bottom: 0; }
.my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.my-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.my-3 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
.my-4 { margin-top: 1rem; margin-bottom: 1rem; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 0.75rem; }
.mt-4 { margin-top: 1rem; }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-3 { margin-right: 0.75rem; }
.mr-4 { margin-right: 1rem; }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 0.25rem; }
.ml-2 { margin-left: 0.5rem; }
.ml-3 { margin-left: 0.75rem; }
.ml-4 { margin-left: 1rem; }

.p-0 { padding: 0 !important; }
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 0.75rem; }
.p-4 { padding: 1rem; }

.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: 0.25rem; padding-right: 0.25rem; }
.px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-3 { padding-left: 0.75rem; padding-right: 0.75rem; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }

.pr-0 { padding-right: 0 !important; }
.pr-1 { padding-right: 0.25rem !important; }
.pr-2 { padding-right: 0.5rem !important; }
.pr-3 { padding-right: 0.75rem !important; }
.pr-4 { padding-right: 1rem !important; }

.py-0 { padding-top: 0; padding-bottom: 0; }
.py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-2 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-3 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.py-4 { padding-top: 1rem; padding-bottom: 1rem; }

.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-3 { padding-top: 0.75rem; }
.pt-4 { padding-top: 1rem; }

.header__logo-container,
.header__search-bar-container,
.header__user-profile-container {
    display: flex;
    align-items: center;
}

/* Header sections sizes and alignment */
/* Mobile */
    .header__logo-container {
        width: 17.5%;
        padding: 0 12px;
    }
    .header__search-bar-container {
        width: 55%;
    }
    .header__user-profile-container {
        width: 27.5%;
        justify-content: space-around;
    }
/* End Mobile */
@media screen and (min-width: 480px) { /* Desktop */
    header > [class^=header__] {
        width: 33%;
    }
    .header__logo-container {
        justify-content: start;
    }
}

.header__logo-large {
    display: none;
}
@media screen and (min-width: 480px) {
    .header__logo-small {
        display: none;
    }
    .header__logo-large {
        display: block;
    }
}

.header__search-bar-container {
    justify-content: center;
    position: relative;
    --icon-size: 1em;
    --padding: 8px;
}
.header__search-input-wrapper {
    width: 100%;
    height: 2rem;
}
.header__search-bar-container .search-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    filter: var(--filter-color-light-gray);
}
.header__search-input {
    /* all: initial; */
    font-size: inherit;
    width: 100%;
    height: 100%;
    padding: 8px;
    padding-left: calc(var(--icon-size) * 2 + var(--padding));
    border: none;
    box-shadow: inset 0 0 0 1px #636363;
    border-radius: 0.5rem;
    background-color: var(--gray-300);
    color: var(--text-light-gray);
    transition: 0.15s;
}
.header__search-input::placeholder {
    color: #b5b5b5;
    font-weight: 300;
}
.header__search-input:hover {
    /* border: 1px solid #e1e1e1; */
    box-shadow: inset 0 0 0 1px #e1e1e1;
}
.header__search-input:focus {
    outline: none;
    /* border: 2px solid #fff; */
    box-shadow: inset 0 0 0 2px #fff;
}

@media screen and (min-width: 480px) {
    .header__user-profile-container {
        justify-content: end;
        gap: 10px;
        padding: 0 10px;
    }
}

@media screen and (min-width: 480px) {
    .header__shop-badge,
    .header__bell-icon-wrapper {
        height: 2rem;
        display: flex;
        align-items: center;
        border-radius: 8px;
    }
}

.header__bell-icon-wrapper {
    width: 2rem;
    height: 2rem;
}

@media screen and (min-width: 480px) {
    .header__bell-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .header__bell-icon-wrapper,
    .header__shop-badge {
        background-color: var(--color-translucent-gray);
        transition: background-color 0.15s;
    }
    .header__bell-icon-wrapper:hover,
    .header__shop-badge:hover {
        background-color: #4a4a4a;
    }
}

.header__shop-badge {
    color: var(--text-light-gray);
    padding: 0;
}
@media screen and (min-width: 480px) {
    .header__shop-badge {
        background-color: var(--color-translucent-gray);
        padding: 2px;
    }
}

.header__shop-name {
    display: none;
}
@media screen and (min-width: 480px) {
    .header__shop-name {
        display: initial;
        padding: 5px;
    }
}
.header__shop-icon {
    border-radius: 8px;
    padding: 5px;
    background-color: #36FBA1;
    color: #000000AA;
    width: 2rem;
    height: 2rem;
}
@media screen and (min-width: 480px) {
    .header__shop-icon {
        height: 100%;
        width: auto;
    }
}

.popup-menu {
    position: fixed;
    top: calc(var(--header-height) + .5rem);
    right: 0.5rem;
    box-shadow: 0px 4px 8px 2px #0000000D;
    border: 1px solid #DBDBDB;
    width: 92vw;
    background-color: #fff;
    border-radius: 14px;
    visibility: hidden;
    z-index: 1;
}

.popup-menu--open {
    visibility: visible;
}

.alert-popup__body {
    background: #F1F1F1;
    border-radius: 0.125rem;
    color: #616161;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-menu {
}
.store-menu__menu-section {
    padding: 6px;
}
.store-menu__menu-section:not(:first-of-type) {
    border-top: 1px solid #e1e1e1;
}

.store-menu .header__shop-badge,
.store-menu .header__shop-badge:hover {
    background-color: #f1f1f1;
    cursor: default;
}
.store-menu .header__shop-name {
    color: var(--gray-300);
}

.dropdown-menu-item {
    width: 100%;
    color: var(--gray-300);
    font-weight: 400;
    min-height: 2rem;
    padding: 6px;
}
.dropdown-menu-item:hover {
    text-decoration: none;
    background-color: #f3f3f3;
}

@media screen and (min-width: 480px) {
    .popup-menu {
        max-width: 380px;
    }
}

main {
    margin: 5rem auto;
    max-width: 49.75rem;
}

.alert {
    background-color: #1a1a1a;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.alert .alert__content {
    color: var(--text-light-gray);
}
@media screen and (min-width: 480px) {
    .alert {
        border-radius: 0.5rem;
    }
}

.alert__content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex: 1;
    gap: 10px;
}

.alert__close {
    width: 2rem;
    height: 2rem;
}

.setup-guide {
    border: 1px solid #dbdbdb;
    padding: 0.5rem;
    background-color: #fff;
}
@media screen and (min-width: 480px) {
    .setup-guide {
        border-radius: 0.5rem;
    }
}

.setup-guide__body {
    transition: 500ms;
    transition-timing-function: ease-out;
    overflow: hidden;
    max-height: 0;
}
.setup-guide__body--open {
    transition-timing-function: ease-in;
    max-height: 600px;
    margin-top: 1rem;
}

.setup-guide__collapse-btn {
    --size: 2em;
    width: var(--size);
    height: var(--size);
}
.setup-guide__collapse-btn:hover {
    background: #0000000d;
}

.progress-bar-track {
    background-color: #e3e3e3;
    width: 72px;
    height: 4px;
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar-slider {
    background-color: var(--gray-300);
    min-width: 4px;
    width: 0;
    height: 100%;
    transition: width 0.25s;
}

.setup-task {
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
    margin-bottom: 1px;
    --setup-task-icon-width: 20px;
    --setup-task-padding: 10px;
    --setup-task-header-height: calc(var(--setup-task-icon-width) + var(--setup-task-padding) * 2);
}
/* Add some spacing so that the outline can be visible */
.setup-task:first-of-type {
    margin-top: 2px;
}
.setup-task--open {
    background-color: #f3f3f3;
}
.setup-task:not(.setup-task--open):hover {
    background-color: rgb(247,247,247);
    cursor: pointer;
}

.setup-task:not(.setup-task--open) .setup-task__right-panel {
    display: none;
}
.setup-task__left-panel {
    width: 100%;
}
@media screen and (min-width: 480px) {
    .setup-task--open .setup-task__left-panel {
        width: 80%;
    }
    .setup-task:not(.setup-task--open) .setup-task__left-panel {
        width: 100%;
    }
    .setup-task--open .setup-task__right-panel {
        width: 20%;
        display: initial;
    }
}

.setup-task__header {
	display: flex;
	align-items: center;
	height: 40px;
	gap: var(--setup-task-padding);
	padding: var(--setup-task-padding);
}

.setup-task:not(.setup-task--open) .setup-task__details {
    display: none;
}

.setup-task__details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 1rem;
    /* margin: 0.5rem 0.5rem 11px; */
        margin-left: calc(var(--setup-task-padding) * 2 + var(--setup-task-icon-width));
}
.setup-task:not(.setup-task--open) .setup-task__details {
    margin: 0;
}
.setup-task__right-panel {
    display: none;
}
@media screen and (min-width: 480px) {
    .setup-task__details-wrapper {
        max-width: 80%;
    }
}
.setup-task__status-icon-wrapper {
    width: var(--setup-task-icon-width);
    height: var(--setup-task-icon-width);
}
.setup-task:not(.setup-task--open) .setup-task__status-icon-wrapper {
    display: flex;
    align-items: center;
}
.setup-task__status-icon {
    width: 100%;
}
svg.setup-task__status-icon--incomplete:hover circle {
    stroke-dasharray: none;
}

.setup-task__title {
    height: var(--setup-task-header-height);
    flex: 1;
    border-radius: 1px;
    display: flex;
    align-items: center;
}
.setup-task__title:focus-visible {
    outline-offset: 0;
}
.setup-task__title, .setup-task__title > :first-child {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-size: var(--font-size-md);
    text-align: left;
}
.setup-task.setup-task--open .setup-task__title > :first-child {
    font-weight: var(--font-weight-semibold);
}
.setup-task:not(.setup-task--open) .setup-task__title > :first-child {
    font-weight: normal;
}
.setup-task__description {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
}

.animation__spin {
    animation: spin 1s infinite linear;
}

.animation__fadeInUp {
    animation: fadeInUp 350ms;
}

.animation__fadeOutDown {
    animation: fadeOutDown 350ms;
}

.animation__fadeInZoom {
    animation: fadeInZoom 350ms;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes fadeInUp {
    from {
        visibility: visible;
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        visibility: hidden;
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOutDown {
    from {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
    to {
        visibility: hidden;
        transform: translateY(40px);
        opacity: 0;
    }
}

@keyframes fadeInZoom {
    from {
        transform: rotate(-90deg) scale(0.55);
        opacity: 0.55;
    }
    to {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}

