* {
    box-sizing: border-box !important;
}

html {
    font-size: 16px;
    font-family: Inter;
    --filter-color-light-gray: invert(100%) sepia(1%) saturate(437%) hue-rotate(289deg) brightness(113%) contrast(78%);
    --filter-color-dark-gray: invert(95%) sepia(0%) saturate(1047%) hue-rotate(152deg) brightness(80%) contrast(82%);
    --filter-color-white: invert(100%) sepia(5%) saturate(141%) hue-rotate(77deg) brightness(120%) contrast(100%);
    --text-light-gray: #e3e3e3;
    --text-dark-gray: #b5b5b5;
    --text-light-gray-with-opacity: #b5b5b5ef;
    --color-translucent-gray: #ffffff14;
}

.filter-color-white {
    filter: var(--filter-color-white);
}
.bg-transparent {
    background-color: transparent;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f1f1;
    font-size: 13px;
}

button {
    border: none;
}
button:hover {
    cursor: pointer;
}
button:focus {
    /* outline: none; */
}

header {
    display: flex;
    background-color: #1a1a1a;
    height: 3.5rem;
    line-height: 20px;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}

.btn {
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 1em;
}
.btn:focus-visible {
    outline: 3px solid #005BD3;
    outline-offset: 0.125rem;
}
.btn-light {
    background-color: #fff;
}
.btn-light:hover {
    background-color: #f7f7f7;
}
.btn-light:active {
    box-shadow: inset 0 2px 1.5px #e2e2e2;
}
.btn-light:hover {
    background-color: #e2e2e2;
}

.p-0 {
    padding: 0;
}

.header__logo-container,
.header__search-bar-container,
.header__user-profile-container {
    display: flex;
    align-items: center;
}

/* Header sections sizes and alignment */
/* Mobile */
    .header__logo-container {
        width: 15%;
        padding: 0 12px;
    }
    .header__search-bar-container {
        width: 60%;
    }
    .header__user-profile-container {
        width: 25%;
        justify-content: space-around;
    }
/* End Mobile */
@media screen and (min-width: 480px) { /* Desktop */
    header > [class^=header__] {
        width: 33%;
    }
    .header__logo-container {
        justify-content: start;
    }
}

.header__logo-small {
    
}
.header__logo-large {
    display: none;
}
@media screen and (min-width: 480px) {
    .header__logo-small {
        display: none;
    }
    .header__logo-large {
        display: block;
    }
}

.header__search-bar-container {
    justify-content: center;
    position: relative;
    --icon-size: 1em;
    --padding: 8px;
}
.header__search-input-wrapper {
    width: 100%;
    height: 2rem;
}
.header__search-bar-container .search-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    filter: var(--filter-color-light-gray);
}
.header__search-input {
    /* all: initial; */
    font-size: inherit;
    width: 100%;
    height: 100%;
    padding: 8px;
    padding-left: calc(var(--icon-size) * 2 + var(--padding));
    border: none;
    box-shadow: inset 0 0 0 1px #636363;
    border-radius: 0.5rem;
    background-color: #303030;
    color: var(--text-light-gray);
    transition: 0.15s;
}
.header__search-input::placeholder {
    color: var(--text-light-gray-with-opacity);
    font-weight: 300;
}
.header__search-input:hover {
    box-shadow: inset 0 0 0 1px #ccc;
}
.header__search-input:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px #e1e1e1;
}

@media screen and (min-width: 480px) {
    .header__user-profile-container {
        justify-content: end;
        gap: 10px;
        padding: 0 10px;
    }
}

@media screen and (min-width: 480px) {
    .header__shop-badge,
    .header__bell-icon-wrapper {
        height: 2rem;
        display: flex;
        align-items: center;
        border-radius: 8px;
    }
    .header__shop-badge {
        padding: 2px;
    }
}

@media screen and (min-width: 480px) {
    .header__bell-icon-wrapper {
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .header__bell-icon-wrapper,
    .header__shop-badge {
        background-color: var(--color-translucent-gray);
        transition: background-color 0.15s;
    }
    .header__bell-icon-wrapper:hover,
    .header__shop-badge:hover {
        background-color: #4a4a4a;
    }
}
.header__bell-icon {
    filter: var(--filter-color-light-gray);
}

.header__shop-badge {
    background-color: var(--color-translucent-gray);
    color: var(--text-light-gray);
}
.header__shop-name {
    display: none;
}
@media screen and (min-width: 480px) {
    .header__shop-name {
        display: initial;
        padding: 5px;
    }
}
.header__shop-icon {
    border-radius: 8px;
    padding: 5px;
    background-color: #36FBA1;
    color: #000000AA;
    height: 100%;
}

main {
    margin: 5rem auto;
    max-width: 49.75rem;
}

.alert {
    background-color: #1a1a1a;
    color: var(--text-light-gray);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.alert__content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.alert__close {
    width: 20px;
}

